root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
# tab_width
# end_of_line
# max_line_length

# dotnet
[*.{config,cs,xml}]
indent_size = 4

[*.{proj,props,sln,targets}]
indent_style = tab
indent_size = 4

[*.{csproj}]
indent_size = 2

#front-end
[*.{js,html,css,json}]
indent_size = 2

[*.css]
end_of_line = lf


[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.py]
indent_size = 4

[*.java]
indent_size = 4
